nav(class="navbar navbar-expand-lg navbar-dark bg-dark", data-bs-theme="dark")
  div(class="container-fluid")
    a(class="navbar-brand" href="#")
      img(class="img-logo" src="./img/home.png")
    button(class="navbar-toggler", data-bs-toggle="collapse", data-bs-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse", id="navbarNavAltMarkup")
      div(class="navbar-nav")
        a(class="nav-link active", aria-current="page", href="#") Home
        a(class="nav-link", href="#") Blog
        a(class="nav-link", href="#") Articles
        a(class="nav-link", href="#") Wiki
      </div>
    </div>
  </div>
</nav>