extends ../pugs/master.pug

block styles
  +link('./css/specific.css')
  title Home
  +meta('description', `${new Date().getFullYear()} will be a great year`)

block content
  section.row.my-5.text-center
    h1 Hello world
    h3.specific-class
  p.text-center.
    This is an example of 
    master page with pug files
    (open the console to show specific message)
  div.row.m-0
    p.dummy.col-6.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-6.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-8.offset-2.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-8.offset-2.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-8.offset-2.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-6.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-6.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-6.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-6.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.
    p.dummy.col-6.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus vero quas alias! 
      Consectetur autem suscipit neque, nisi voluptate error nesciunt nulla amet 
      perspiciatis voluptas. Magnam labore ad voluptas tempora maxime iste enim, repellendus 
      accusamus esse odio voluptates ut nam accusantium voluptate consectetur, vel dolorem? 
      Earum facilis adipisci impedit officiis harum aliquid deleniti repudiandae! Debitis 
      perspiciatis possimus quod magnam pariatur itaque culpa. Accusamus labore accusantium 
      tempora earum? Eligendi, pariatur numquam nobis nulla enim excepturi, voluptatum sunt natus 
      earum tenetur praesentium reiciendis vitae rerum modi qui quos facilis sapiente cumque.

block scripts
  +script('js/specific.js', true)
